body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#ff758c,#ff7eb3);
  font-family:sans-serif;
}

.card{
  display:none;
  background:white;
  padding:40px;
  border-radius:25px;
  text-align:center;
  width:90%;
  max-width:420px;
  min-height:320px;
  animation:fade 0.7s;
}

.card h1{
  font-size:28px;
}

.card p{
  font-size:18px;
  line-height:1.6;
}

.card.active{display:block;}

img{
  width:100%;
  border-radius:10px;
  margin:10px 0;
}

button{
  background:#ff4d6d;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:25px;
  font-size:16px;
  cursor:pointer;
}

@keyframes fade{
  from{opacity:0;transform:scale(0.9)}
  to{opacity:1;transform:scale(1)}
}


.heart-box{
  position:relative;
  background:#fff;
  width:320px;
  height:280px;
  transform:rotate(-45deg);
  margin:auto;
}

.heart-box::before,
.heart-box::after{
  content:"";
  position:absolute;
  background:#fff;
  width:320px;
  height:280px;
  border-radius:50%;
}

.heart-box::before{
  top:-140px;
  left:0;
}

.heart-box::after{
  left:140px;
  top:0;
}

.heart-content{
  position:absolute;
  transform:rotate(45deg);
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:20px;
}
button{
  transition:transform 0.3s ease;
}
