body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe6f0;
  font-family: cursive;
}

.card {
  background: #fff0f5;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.pic {
  width: 120px;
  border-radius: 15px;
}

h2 {
  color: #d63384;
}

span {
  color: #ff1493;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}

.yes {
  background: #ff4d88;
  color: white;
}

.no {
  background: #ffd6e8;
}

